<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Testing TokBox</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>

    <body>
      <h1>Testing TokBox</h1>
      <button onclick="record()">Start recording</button>
      <button onclick="stopRecording()">Stop recording</button>
      <button onclick="list()">List recordings</button>
      <button onclick="clearAll()">Clear all recordings</button>
    </body>

    <script
       src="https://code.jquery.com/jquery-3.1.1.min.js"
       integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
       crossorigin="anonymous"></script>
    <script src="opentok.js"></script>
    <script src="app.js"></script>
</html>
